extends main

block login
    div.login-container.container
        div.card 
            div.card-content
                h3
                    i.fas.fa-book-reader StoryBooks 
                div.section
                    p.lead Create Public and Private Stories from your life 
                div.divider
                div.section
                    a.btn.red.darken-1
                        i.fas.fa-google.left Log In With Google

