doctype html
html(lang="en")
    head
        title Home Page
        style
            link(type='text/css', rel="stylesheet", href="../public/css/style.css")
    body
        header
            h1 Hello from Pug Template!
        main
            p This is a paragraph
        block login
        block dashboard
        

